.canvas__frame {
  background: white;
  position: fixed;
  inset: 0;
  overflow: hidden;

  &>*:not(.diagram__stats, .diagram__node_tools, .toolbar) {
    position: absolute;
    inset: 0;
  }
}

.avoid-selection * {
  user-select: none;
}

.diagram__panzoom,
.diagram__tools {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0;
}

.diagram__extra {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  inset: 0;
}

.diagram__node {
  user-select: none;

  &.selected {
    z-index: 1;
  }
}

.diagram__node__gateway {
  &:hover path {
    fill: greenyellow;
    stroke: greenyellow;
  }
}

.diagram__node_tools {
  position: absolute;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.diagram__node_tool {
  cursor: pointer;

  &:hover path {
    color: #555;
  }
}

.--selected-node {
  z-index: 1;
  overflow: hidden;
  border-color: transparent;
}

.--selected-node::before {
  content: "";
  position: absolute;
  inset: 0 -4px;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(90deg,
      black 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-horizontal 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.--selected-node::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(0deg,
      /* 👈 dirección vertical */
      black 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-vertical 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes move-horizontal {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }

  /* una repetición exacta */
}

@keyframes move-vertical {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 20px;
  }
}

.diagram__stats>* {
  position: fixed;
  right: 5px;
  bottom: 5px;
  user-select: none;

  background: #555;
  color: #ccc;
  padding: 8px 12px;
  border-radius: 6px;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.05;
    pointer-events: none;
  }
}

.toolbar {
  inset: unset;

  position: fixed;
  bottom: 5px;
  left: 5px;

  display: flex;
  gap: 3px;
  padding: 3px;

  background: white;
  border: 1px solid #444;
  border-radius: 4px;

  align-items: center;

  .separator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1px;
    height: 25px;
    margin: 0 3px;
  }

  .tool {
    padding: 6px;
    border: 1px solid #888;
    border-radius: 4px;
    color: black;
    transition: background-color 200ms;
  }

  .tool.selected {
    background: #b6bbda
  }

  .tool:active {
    background: #aaa
  }
}