:root {
  --bg: #111;
  --text: #e5e7eb;

  --gateway-fill: #444;
  --gateway-hover: #444;

  --node-fill: #252b38;
  --node-stroke: #252b38;
  --node-color: white;
  --node-font-size: 18px;

  --edge-stroke: rgb(77, 77, 77);

  --edge-dragger-stroke: rgb(77, 77, 77);
  --edge-dragger-hover-stroke: rgb(133, 133, 133);

  --node-select-shadow: rgba(251, 255, 0, 0.5);

  --grid-thin: #202020d2;
  --grid-strong: #444444b4;

  --stats-bg: black;
  --stats-color: #eaeaea;

  --toolbar-border: #333;
  --toolbar-tool-border: #111;

  --tool-selected-bg: #243b53;
  --tool-active-bg: #19212e;

  --selection-border: #474758;
  --selection-fill: #2b2b8133;
}

.grid_line {
  stroke: var(--grid-thin);

  &.strong {
    stroke: var(--grid-strong);
  }
}

.selection_square path {
  stroke: var(--selection-border);
  fill: var(--selection-fill);
}

.canvas__frame {
  background: var(--bg);
  position: fixed;
  inset: 0;
  overflow: hidden;

  &>*:not(.diagram__stats, .diagram__node_tools, .toolbar) {
    position: absolute;
    inset: 0;
  }
}

.avoid-selection * {
  user-select: none;
}

.diagram__panzoom,
.diagram__tools {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0;
}

.diagram__extra {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  inset: 0;
}

.diagram__node {
  user-select: none;
  cursor: pointer;
  transition: filter 0.2s ease;

  &:is(div) {
    background: var(--node-fill);
    border: 2px solid var(--node-stroke);

  }

  path {
    fill: var(--node-fill);
    stroke: var(--node-stroke);
  }

  text {
    fill: var(--node-color);
    font-size: var(--node-font-size);
  }

  &.selected {
    z-index: 1;
    filter: drop-shadow(0 0 5px var(--node-select-shadow))
  }
}

.base_shape {
  pointer-events: auto;
}

.diagram__node__gateway {
  pointer-events: auto;
  z-index: 2;

  path {
    fill: var(--gateway-fill);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover path {
    fill: var(--gateway-hover);
    stroke: var(--gateway-hover);
  }

}

.diagram__node_tools {
  position: absolute;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.diagram__node_tool {
  cursor: pointer;

  &:hover path {
    color: #555;
  }
}

.--selected-node {
  z-index: 1;
  overflow: hidden;
  border-color: transparent;
}

.--selected-node::before {
  content: "";
  position: absolute;
  inset: 0 -4px;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(90deg,
      var(--text) 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-horizontal 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.--selected-node::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(0deg,
      /* 👈 dirección vertical */
      var(--text) 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-vertical 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes move-horizontal {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }

  /* una repetición exacta */
}

@keyframes move-vertical {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 20px;
  }
}

.diagram__stats>* {
  position: fixed;
  right: 5px;
  bottom: 5px;
  user-select: none;

  background: var(--stats-bg);
  color: var(--stats-color);
  padding: 8px 12px;
  border-radius: 6px;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.05;
    pointer-events: none;
  }
}

.toolbar {
  inset: unset;

  position: fixed;
  bottom: 5px;
  left: 5px;

  display: flex;
  gap: 3px;
  padding: 3px;

  background: var(--bg);
  border: 1px solid var(--toolbar-border);
  border-radius: 4px;

  align-items: center;

  .separator {
    border-left: 1px solid var(--toolbar-border);
    border-right: 1px solid var(--toolbar-border);
    padding-left: 1px;
    height: 25px;
    margin: 0 3px;
  }

  .tool {
    cursor: pointer;
    padding: 6px;
    border: 1px solid var(--border-medium);
    border-radius: 4px;
    color: var(--text);
    transition: background-color 200ms;
  }

  .tool.selected {
    background: var(--tool-selected-bg);
  }

  .tool:active {
    background: var(--tool-active-bg);
  }
}

.edge {
  pointer-events: auto;
}

.edge_marker_path {
  fill: var(--edge-stroke);
}

.edge path {
  stroke: var(--edge-stroke);

  &.edge-hover-area {
    stroke: transparent;
  }
}

.edge:hover {
  .edge_drag_point {
    cursor: pointer;
    fill: var(--edge-dragger-hover-stroke);
  }

  path.edge-hover-area {
    cursor: pointer;
    stroke-width: 6px;
    stroke: var(--edge-stroke);
  }
}


.edge_drag_point {
  width: 12px;
  height: 12px;
  fill: var(--edge-stroke);
}