#Showcase {
  .collapsible_panel__content {
    display: grid;
    gap: 32px;
    padding: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .bpm__node {
    justify-self: center;
    position: static !important;

    .label {
      position: static;
      top: 0;
    }
  }

  .bpmn__event {
    width: 80px !important;
    height: 80px !important;
  }

  .bpmn__task {
    width: 80px !important;
    height: 80px !important;
  }

  .bpmn__gate {
    width: 80px !important;
    height: 80px !important;
  }
}

.bpm__node {
  &.bpmn__task {
    border-radius: 8px;
  }

  &.bpmn__event {
    border-radius: 100%;
    position: relative;

    .editable__label {
      position: absolute;
      top: 70px;
    }
  }

  &.bpmn__gate {
    border: none;
    background: none;
    position: relative;

    fill: var(--node-fill);
    stroke: var(--node-stroke);
    stroke-width: 2px;

    .editable__label {
      position: absolute;
      top: 70px;
    }
  }
}