:root {
  /* Base */
  --bg: #0b0f14;
  /* darker, cleaner base */
  --text: #f3f4f6;
  /* brighter text */

  /* Gateways */
  --gateway-fill: #4b5563;
  --gateway-hover: #6b7280;

  /* Nodes */
  --node-fill: #1f2937;
  /* noticeably brighter than bg */
  --node-stroke: #9ca3af;
  /* strong separation */
  --node-color: #ffffff;
  --node-font-size: 12px;

  /* Edges */
  --edge-stroke: rgb(180, 185, 195);

  /* Edge dragger */
  --edge-dragger-stroke: rgb(200, 205, 215);
  --edge-dragger-hover-stroke: rgb(255, 255, 255);

  /* Selection */
  --node-select-shadow: rgba(253, 224, 71, 0.75);

  /* Grid */
  --grid-thin: #374252;
  --grid-strong: #4b5563;

  /* Stats / panels */
  --stats-bg: #020617;
  --stats-color: #f9fafb;

  /* Toolbar */
  --toolbar-border: #6b7280;
  --toolbar-tool-border: #020617;

  /* Tool states */
  --tool-disabled-fg: #6d6d6d;
  --tool-selected-bg: #2563eb;
  --tool-active-bg: #1e40af;

  /* Selection rectangle */
  --selection-border: #60a5fa;
  --selection-fill: #60a5fa33;

  /* Sugestions */
  --alignment-sugestion: rgba(131, 204, 224, 0.3);
  --distance-balance-sugestion: rgba(99, 206, 108, 0.6);
}



body.light {
  --bg: #f7f8fa;
  --text: #1f2937;

  /* Gateways */
  --gateway-fill: #d1d5db;
  --gateway-hover: #9ca3af;

  /* Nodes */
  --node-fill: #ffffff;
  --node-stroke: #c7cdd6;
  --node-color: #1f2937;
  --node-font-size: 18px;

  /* Edges */
  --edge-stroke: rgb(160, 165, 175);

  /* Edge dragger */
  --edge-dragger-stroke: rgb(160, 165, 175);
  --edge-dragger-hover-stroke: rgb(90, 95, 105);

  /* Selection */
  --node-select-shadow: rgba(59, 130, 246, 0.45);

  /* Grid */
  --grid-thin: #e5e7eb;
  --grid-strong: #cbd5e1;

  /* Stats / panels */
  --stats-bg: #ffffff;
  --stats-color: #111827;

  /* Toolbar */
  --toolbar-border: #d1d5db;
  --toolbar-tool-border: #cbd5e1;

  /* Tool states */
  --tool-disabled-fg: #ff0000;
  --tool-selected-bg: #e0ecff;
  --tool-active-bg: #c7dbff;

  /* Selection rectangle */
  --selection-border: #93c5fd;
  --selection-fill: #93c5fd33;
}

.grid_line {
  stroke: var(--grid-thin);

  &.strong {
    stroke: var(--grid-strong);
  }
}

.selection_square path {
  stroke: var(--selection-border);
  fill: var(--selection-fill);
}

.canvas__frame {
  background: var(--bg);
  overflow: hidden;
  user-select: none;
}

.canvas__frame .foreground {
  z-index: 2;
}

.avoid-selection * {
  user-select: none;
}

.diagram__panzoom,
.diagram__tools {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0;
}

.diagram__extra {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  inset: 0;
}

.diagram__node {
  user-select: none;
  cursor: pointer;
  transition: filter 0.2s ease;
  box-sizing: border-box;

  &:is(div) {
    background: var(--node-fill);
    border: 2px solid var(--node-stroke);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  path {
    fill: var(--node-fill);
    stroke: var(--node-stroke);
  }

  text {
    fill: var(--node-color);
    font-size: var(--node-font-size);
  }

  &.selected {
    z-index: 1;
    filter: drop-shadow(0 0 5px var(--node-select-shadow))
  }
}

.base_shape {
  pointer-events: auto;
}

.diagram__node__gateway {
  pointer-events: auto;
  z-index: 2;

  path {
    fill: var(--gateway-fill);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover path {
    fill: var(--gateway-hover);
    stroke: var(--gateway-hover);
  }

}

.diagram__node_tools {
  position: absolute;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.diagram__node_tool {
  cursor: pointer;

  &:hover path {
    color: #555;
  }
}

.--selected-node {
  z-index: 1;
  overflow: hidden;
  border-color: transparent;
}

.--selected-node::before {
  content: "";
  position: absolute;
  inset: 0 -4px;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(90deg,
      var(--text) 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-horizontal 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.--selected-node::after {
  content: "";
  position: absolute;
  inset: -4px 0;
  border-radius: inherit;
  padding: 3px;
  background: repeating-linear-gradient(0deg,
      /* 👈 dirección vertical */
      var(--text) 0 10px,
      transparent 10px 20px);
  background-size: 20px 20px;
  animation: move-vertical 1.8s linear infinite;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes move-horizontal {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 0;
  }

  /* una repetición exacta */
}

@keyframes move-vertical {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 20px;
  }
}

.diagram__stats>* {
  position: fixed;
  right: 5px;
  bottom: 5px;
  user-select: none;

  background: var(--stats-bg);
  color: var(--stats-color);
  padding: 8px 12px;
  border-radius: 6px;

  transition: opacity 0.3s;

  &:hover {
    opacity: 0.05;
    pointer-events: none;
  }
}

.stage {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  position: fixed;
  inset: 0;
}

.h_stack>* {
  height: 100%;
}

.h_stack> :last-child {
  flex: 1 1 auto;
  min-width: 0;
}

.collapsible_panel {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  max-width: 360px;
  flex-shrink: 0;

  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--toolbar-border);
  overflow: hidden;

  position: relative;
}

.collapsible_panel.collapsed {
  min-width: unset;
  max-width: unset;
}

.collapsible_panel__header {
  color: inherit;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.collapsible_panel__title {
  font-weight: 600;
  font-size: 14px;
}

.collapsible_panel__content {
  border-top: 1px solid var(--toolbar-border);
  padding: 10px;
}

.collapsible_panel__resizer {
  position: absolute;
  inset: 0 0 0 auto;
  width: 10px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.collapsible_panel--resizer-left .collapsible_panel__resizer {
  inset: 0 auto 0 0;
  border-left: 3px solid transparent;
  border-color: transparent;
  transition: border-color 500ms;
}

.collapsible_panel--resizer-left .collapsible_panel__resizer:hover {
  border-left: 3px solid #93c5fd;
}

.collapsible_panel--resizer-right .collapsible_panel__resizer {
  border-right: 3px solid transparent;
  border-color: transparent;
  transition: border-color 500ms;
}

.collapsible_panel--resizer-right .collapsible_panel__resizer:hover {
  border-right: 3px solid #93c5fd;
}

.collapsible_panel.collapsed .collapsible_panel__content {
  display: none;
}

.toolbar {
  inset: unset;

  position: fixed;
  bottom: 5px;
  left: 5px;

  display: flex;
  gap: 3px;
  padding: 3px;

  background: var(--bg);
  border: 1px solid var(--toolbar-border);
  border-radius: 4px;

  align-items: center;

  .separator {
    border-left: 1px solid var(--toolbar-border);
    border-right: 1px solid var(--toolbar-border);
    padding-left: 1px;
    height: 25px;
    margin: 0 3px;
  }

  .tool {
    cursor: pointer;
    padding: 6px;
    border: 1px solid var(--border-medium);
    border-radius: 4px;
    color: var(--text);
    transition: background-color 200ms;
  }

  .tool.disabled path {
    color: var(--tool-disabled-fg);
  }

  .tool.selected {
    background: var(--tool-selected-bg);
  }

  .tool:active {
    background: var(--tool-active-bg);
  }
}

.edge {
  pointer-events: auto;
}

.edge_marker_path {
  fill: var(--edge-stroke);
}

.edge path {
  stroke: var(--edge-stroke);

  &.edge-hover-area {
    stroke: transparent;
  }
}

.edge:hover,
.edge.dragging {
  .edge_drag_point {
    cursor: pointer;
    fill: var(--edge-dragger-hover-stroke);
  }

  path.edge-hover-area {
    cursor: pointer;
    stroke-width: 6px;
    stroke: var(--edge-stroke);
  }
}


.edge_drag_point {
  width: 12px;
  height: 12px;
  fill: var(--edge-stroke);
}

.measurement {
  marker path {
    stroke: red;
    stroke-width: 3px;
  }

  path {
    stroke: var(--edge-stroke);
    stroke-width: 1px;
  }
}

.alignment_sugestion {
  path {
    stroke: var(--alignment-sugestion);
    stroke-width: 1px;
    stroke-dasharray: 10 10;
  }
}

.distance_balance_sugestion {
  path {
    stroke: var(--distance-balance-sugestion);
    stroke-width: 1px;
  }
}